/*Global Styles*/


html {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Mingzat', sans-serif;
    background: rgb(213,235,247);
    background: linear-gradient(90deg, rgba(213,235,247,1) 39%, rgba(224,245,250,1) 50%, rgba(207,228,244,1) 73%);
}

body {
    margin: 0;
}

.lander {
    height: 100%
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
}

a {
    cursor: pointer;
    font-size: 18px;
    color: black;
}

a:hover {
    font-weight: 600;
}


/*Header*/


header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.signature {
    display: flex;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -1.9rem;
}

.ben {
    margin-left: 5rem;
    margin-right: 10px;
    font-size: 2rem;
}

.schulze {
    font-size: 3rem;
}

nav {
    float: right;
    margin-right: 12rem;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid black;
    border-radius: 1px;
    transition: 500ms;
}

nav:hover {
    transition: 600ms;
    padding-left: 50px;
}

.github, .linkedin {
    display: inline-block;
    margin: 0 20px;
}

.github {
    height: 34px;
    width: 34px;
    padding: 5px;
    transition: 600ms;
    border-radius: 17px;
    margin-bottom: -5px;
}

.github:hover {
    transition: 600ms;
    transform: scale(1.05);
}

.linkedin {
    height: 40px;
    width: 40px;
    transition: 600ms;
    margin-bottom: -5px;
}

.linkedin:hover {
    transition: 600ms;
    transform: scale(1.05);
    border-radius: 5px;
}

.contact {
    display: inline-block;
    margin: 0 30px 7px 15px;
    cursor: pointer;
    line-height: 1.65rem;
    font-size: 24px;
    padding: 0 5px;
    transition: 600ms;
}

.contact:hover {
    transition: 600ms;
    transform: scale(1.02);
    border-radius: 5px;
}


/*Project Sidebar*/


.project {
    display: none;
}

.project.open {
    display: block;
    text-decoration: underline;
    margin: 50px 0;
}

.projects {
    grid-column: 1;
    height: 100%;
    width: 0;
    padding-top: 7.5rem;
    transition: none;
}

.projects.open {
    border-right: 1px solid black;
    grid-column: 1;
    text-align: center;
    height: 100%;
    width: 375px;
    padding-left: 4rem;
    padding-top: 3rem;
    transition: none;
}

.sidebar-title {
    display: none;
}

.sidebar-title.open {
    display: inline-block;
}

.sidebar {
    transform: translate(42px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #a3a3c7;
    float: right;
    height: 150px;
    width: 40px;
    margin-top: 5rem;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar.open {
    margin-top: -15.6rem;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transform: none;
}

.sidebar button {
    height: 135px;
    width: 40px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: #a3a3c7;
    border: none;
    outline: none;
    appearance: none;
    border-radius: 3px;
}

.sidebar-arrow {
    transform: translate(8px);
    height: 0;
    width: 0;
    border-left: 15px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    display: inline-block;
}

.sidebar-arrow.open {
    transform: translate(4px);
    height: 0;
    width: 0;
    border-right: 15px solid black;
    border-left: none;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    display: inline-block;
}

.transparent-arrow {
    transform: translate(-12px);
    height: 0;
    width: 0;
    border-left: 15px solid #a3a3c7;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    display: inline-block;
}

.transparent-arrow.open {
    transform: translate(-6px);
    border-left: none;
    border-right: 15px solid #a3a3c7;
}


/*Sidebar Media Queries*/





/*Hero Section*/


.hero {
    padding-top: 3rem;
    grid-column: 2;
    padding-bottom: 4rem;
    border-bottom: 2px dotted black;
    border-radius: 1px;
    margin-left: -10rem;
    transition: 600ms;
}

.hero.open {
    margin-left: 4rem;
    transition: 600ms;
}

h1 {
    font-size: 64px;
    text-align: left;
    line-height: 0;
}

.hero-name, .hero-webdev, .hero-see {
    font-size: 30px;
    padding-right: 75px;
    padding-left: 15px;
    border-radius: 40px;
    box-shadow: 10px 8px;
    transition: 500ms;
}

.name {
    text-align: left;
    margin-left: 7%;
}

.hero-name {
    color: #30b7e0;
    background-color: #b65252;
    text-decoration: underline;
}

.hero-name:hover, .hero-webdev:hover, .hero-see:hover {
    box-shadow: -10px 8px;
    transition: 500ms;
}

.webdev {
    text-align: left;
    margin-left: 11%;
    line-height: 8rem;
}

.hero-webdev {
    color: #7f31e6;
    background-color: #c4b730;
    text-decoration: underline;
}

.see {
    text-align: left;
    margin-left: 16%;
    line-height: 4rem;
}

.hero-see {
    color: #f69a32;
    background-color: #4360a9;
    text-decoration: underline;
}

.pointer {
    display: inline-block;
    text-align: center;
    width: 375px;
}

.pointer-open {
    text-align: center;
    margin-left: 6rem;
    width: 375px;
    margin-top: 4rem;
}

.scroll {
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.arrow {
    height: 30px;
    width: 40px;
    transition: 300ms;
}

.arrow:hover {
    transform: scale(1.05);
    transition: 300ms;
}
